%html
  %body
    Hello, #{@user.full_name}.
    %br
    Your subscription in the amount of #{number_to_currency(@payment.amount / 100.0)} has successfully been charged to the payment method that we have on file for your account. Thank you for your continued support, and we hope that you enjoy our service more each month.
    %br
    myflix management